@use "/src/Scss/themes-variable/theme";

.tourWrapper {
  display: none;
  justify-content: flex-end;

  flex-grow: 1;
  flex-basis: 0;

  .tour {
    border: 1px solid theme.$base;
    padding: 10px 10px;

    background-color: rgba(241, 241, 241, 1);

    &:disabled {
      opacity: 0.5;
    }
  }
}

@media (width >= 1024px) {
  .tourWrapper {
    display: flex;
  }
}
