$white: rgb(242, 228, 228);
$white1: rgb(256 256 256 / 15%);
$white2: rgb(256 256 256 / 40%);

$black: rgb(34, 26, 26);
$black1: rgba(97, 54, 54, 0);
$black2: rgba(40, 35, 35, 0.4);

$blue1: #8694e8;

$red1: rgb(210, 99, 99);
